@import '../../index.scss';

.home{
    &__banner{
    img{
        height: 400px;
        object-fit:fill;
        }
    }
    &__news{
        box-shadow: 0px 0px 5px 5px rgba(111, 111, 117, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto !important;
        width: 90%;
        border-radius: 30px;
        .col:nth-child(2){
            background-color: $blue-color;
            color: $primary-color;
            padding: 1rem;
            border-radius: 0px 30px 30px 0px;
        }
        .contenu{
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
    }
    .voir__plus{
        text-decoration:underline;
        color: $secondary-color;
        cursor: pointer;
        
    }
    h3{
        padding: 1.7rem;
        font-weight: bold;
        font-size: 18px;
    }
     .date{
         padding-inline: 1.7rem;
     }
    
    
    &__candidate{
       .voir__candidat{
            text-align: end;
            padding: 1rem 5rem;
            color: $blue-color;
        }
    }
    .outils{
        background-color: #C2D3DF;
        img{
            width: 300px;
             height: 300px;
             border-radius: 0%;
        }
        .card__map{
            display: flex;
            flex-direction: column;
        }
    }
}