@import '../../index.scss';

.container__candidat{
   h2{
        font-size: 1.5rem;
        font-weight:400;
    }
    h3{
        font-size: 1.1rem;
        font-weight: 300;
         span{
            background-color: #D7F5E7;
            padding: 5px;
            font-weight:500;
         }
    }
  
.categoriesBar {
    padding: 0.5rem 0;
    font-size: 0.8rem;
    display: flex;
    overflow-x: scroll;
    justify-content: center ;
 
    &::-webkit-scrollbar {
       width: 0px;
    }
    scrollbar-width: none;

    span {
       margin-right: 1rem;
       padding: 0.5rem;

       white-space: nowrap;
       border: 1.5px solid $text-color;
       border-radius: 999px;
       cursor: pointer;
 
      &:hover {
         background-color: #606060;
         color: $secondary-color;
      }

      &.active {
         color: $secondary-color;
         background-color: $blue-color;
         border-color: $secondary-color;
      }
   }
}
.candidat_title{
   background-color: $secondary-color;
   padding: 0.6rem;
   border-radius: 10px 10px 0px 0px;
   margin-bottom: 20px;
   text-align: center;
}
a{
   text-decoration: none;
   color: $text-color;
   &:hover{
       color:$blue-color;
   }
}
.data{
   background-color: $secondary-color;
   padding: 0.6rem;
   margin-bottom: 2px;
   text-align: center;
   align-items: center;
   img{
      width: 40px;
      height: auto;
      border-radius: 50%;
   }
}
}
.back{
   color: $blue-color;
   padding: 2rem;
   cursor: pointer;
}
.card_candidat{
 
   border: 1px solid $text-color;
   padding: 2rem;
   margin: 2rem;
   .pictures{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   .candidat{
      width: 250px;
      height: 250px;
      border-radius: 50%;
   }
   .parti{
      width: 100px;
      height: 100px;
      padding: 1rem 0;
   }
}
}
@media screen and (max-width: $breakpoint-small) {
   .categoriesBar{
      justify-content: flex-start !important;
   }
   .data {
      font-size: 0.8rem;
      img{
         width: 30px !important;
         height: auto;
         border-radius: 50%;
      }
   }
}