@import '../../index.scss';

.stat{
    .title{
        background-color: $secondary-color;
        padding: 0.6rem;
        border-radius: 10px 10px 0px 0px;
        margin-bottom: 20px;
        color: $blue-color;
    }
    
    .total_stat{
        display: flex;
        align-items: center;
        background-color:$secondary-color;
    box-shadow: 0px 0px 5px 2px rgba(111, 111, 117, 0.2);   
        margin: 0.5rem;
        .stat_enrolement{
            width: 6rem;
            display: flex;
            flex-direction: column;
            margin-inline: 1rem;
            padding: 1rem 0;
            p:nth-child(2){
                color: $text-color;
                font-weight: 700;       
            }
        }
    }
    .bar_container{
        max-width: 860px;
        margin: 35px auto;
        opacity: 0.9;
    }
    .voir_stats{
        text-decoration: none;
        color: $blue-color;
        margin: 0 auto 2rem;
        padding: 0.8rem;
        background-color: $secondary-color;
        width: 16rem;
        border-radius: 20px;
    box-shadow: 0px 0px 5px 2px rgba(111, 111, 117, 0.2);
    }


}