@import '../../index.scss';


.news{
    justify-content: center;
    margin-bottom: 2rem;
    &__banner{
        background-color: $blue-color;
        width: 65%;
        margin: 1rem auto 3rem !important;
        padding: 0.7rem;
        align-items: center;
        border-radius: 40px;
        color: $secondary-color;
        opacity: 0.7;
        box-shadow: 0px 0px 10px 10px rgba(50, 50, 230, 0.185);
        
        img{
            width: 200px;
            height: 200px;
            padding: 1rem;
            opacity: 1;
        }
    }
    &__card{
        width: 100%;
        height: 100%;
        margin-bottom: 1rem;
        box-shadow: 0px 0px 10px 5px rgba(85, 83, 83, 0.205);

        .bottom_left {
        position: absolute;
        bottom:0px;
        left: 0px;
        width: 100%;
        opacity: 0.89;
        background-color: $black-color;
        .title__news{
            font-size: 1rem;
        }
        p{
            font-size: 0.8rem;
            margin-bottom: 0 ;
        }
        }
        img{
            width: 100%;
        }
        .social_link{
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    .title{
        background-color: $secondary-color;
        padding: 0.6rem;
        border-radius: 10px 10px 0px 0px;
        margin-bottom: 20px;
        color: $blue-color;
    }
    .news__read{
        img{
            width: 100%;
            height: 600px;
            object-fit: cover;
        }

    }
    &__card1{
        width: 100%;
        height: 100%;
        margin-bottom: 1rem;
        .bottom_left {
        position: absolute;
        bottom:0px;
        left: 0px;
        width: 100%;
        opacity: 0.89;
        background-color: $black-color;
        .title_info{
            font-size:1rem;
 
        }
        p{
            font-size: 0.8rem;
            margin: 0 ;
        }

        }
        img{
            width: 100%;
        }
        .social_link{
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

    }
}